body
{
	background: url(images/fond-noir.jpg);
	color: #cc8b37;
	font-family: 'margheritaregular'
}

@font-face {
    font-family: 'margheritabold';
    src: url('fonts/margherita-bold-webfont.woff2') format('woff2'),
         url('fonts/margherita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'margheritaregular';
    src: url('fonts/margherita-regular-webfont.woff2') format('woff2'),
         url('fonts/margherita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
	width: 900px;
	margin: auto;
}

#la_section
{
	border-top: 3px #cc8b37 solid;
	border-bottom: 3px #cc8b37 solid;
}

nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin-left: -40px;
	margin-bottom: 3px;
}

nav a 
{
	font-size: 1.5em;
	text-decoration: none;
	color: #ffddb0

}

nav a:hover
{
	color: #760001;
}

.broome
{
	float: right;
}

section h1
{
	font-size: 3.0em;
}

h2
{
	font-size: 2.6em;
	text-decoration: underline;
	text-align: center;
}

#sagrada
{
	float: right;
}

#londres
{
	float: left;
}

#nusa
{
	float: right;
}

#lac-rose
{
	float: left;
}

p
{
	font-size: 1.5em;
}













